<h1>Editing Site</h1>

<%= render 'form', site: @site %>

<br/>
<a  href="<%= site_path(@site) %>" class="waves-effect waves-light btn">Show</a>
<a  href="<%= sites_path %>" class="waves-effect waves-light btn">Back</a>
